@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ed;
}

html {
    font-size: 62.5%;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}



.header .sticky {
    border-bottom: .1rem solid rgba(0,0,0,0.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
    /* transition: 5s ease; */
}

@keyframes floatImage {
    0% {
        transform: translateY()
    }
    50% {
        transform: translateY(-2.4rem)
    }
    100% {
        transform: translateY()
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2.3rem;
}

span {
    color: var(--main-color);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0rem;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    /* justify-content: center;  */
    gap: 2rem;
    background: var(--second-bg-color);

}
.about-img img {
    width: 35vw;
    left: 10%;
    margin-top: 15%;
}

 /* Applying CSS to sphere */
.tagcloud {
  display: flex;
  top: 50px;
  left: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  z-index: 20;
  margin-bottom: 30%;
  margin-left: 7pc;

}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
  color: #FFC300 ;
}

.sphere {
    right: 0%;
    bottom: 0pc;
    position: fixed;
    width: 60vh;
}

.heading {
    text-align: center;
    font-size: 5rem;
}


.about-content h2 {
    margin-top: 3pc;
    text-align: left;
    line-height: 1.2;
    margin-left: 9pc;
}

/* .about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
} */
.services {
    margin-bottom: 12rem;
}
.services h2 {
    margin-bottom: 5rem;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background: #0ed;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 16px;
  top: calc(50% - 8px);
  right: -11px;
  background: var(--bg-color);
  border: 3px solid #0ed;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #0ed;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.container .dates {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -95px;
}
.container.left .dates {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: var(--bg-color);
  border: 2px solid #0ed;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: rgba(204, 204, 204, 0.344);
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--main-color);
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}


.project {
    background-color: var(--second-bg-color);
}

.project h2 {
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box .project-layer {   
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer{
    transform: translateY(0%);
}

.project-layer h4{
    font-size: 3rem;
}

.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem ;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}




@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
    nav{
        margin-right: 10%;
    }
    .about-content h2 {
        font-size: 2.5pc; 
        margin-left: 9%; 
    }
    .about-img img {
        margin-top: 20%;
    }
    .tagcloud {
        margin-right: 20%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
        /* margin-left: 12%; */
    }
    nav{
        margin-right: 15%;
    }
    
    .about-content h2 {
        font-size: 2.8pc; 
        margin-left: 7.5%; 
    }

    .tagcloud {
        margin-left: 5%;
    }

    .about-img img {
        margin-top: 27%;
    }


    section{
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .project {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,0.2);
        box-shadow: 0.5rem 1rem rgba(0,0,0,0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column-reverse;
        margin-bottom: 5rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .social-media {
        text-align: center;
    }

    .bt {
        text-align: center;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-img img {
        width: 80vw;
        margin-top: 3rem;
    }

    .about-content h2 {
        font-size: 3.25pc;
        padding-top: 0%;
        margin-top: 0%;
        margin-left: 10%;
    }

    .tagcloud {
        justify-content: center;
        align-items: center;
        margin-top: 0%;
    }

    .sphere {
        margin-left: 0%;
        left: 0%;
    }
    
    .services h2 {
        margin-bottom: 3rem;
    }

    .project h2 {
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }

    

    .about-content h2 {
        font-size: 2.8pc;
        padding-top: 0%;
        margin-top: 0%;
        margin-left: 5%;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .about-content h2 {
        font-size: 2pc;
        padding-top: 0%;
        margin-top: 0%;
        margin-left: 20%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img{
        justify-content: center;
        align-items: center;
    }
    .about-content h2 {
        font-size: 1.8pc;
        padding-top: 0%;
        margin-top: 0%;
        margin-left: 20%;
    }

    .about-img img {
        width: 90vw;
    }
}


  /* Media queries - Responsive timeline on screens less than 600px wide */

  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .container {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .container.right {
      left: 0%;
    }
  
    .container.left::after, 
    .container.right::after {
      left: 82px;
    }
  
    .container.left::before,
    .container.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .container.left .date,
    .container.right .date {
      right: auto;
      left: 15px;
    }
  
    .container.left .icon,
    .container.right .icon {
      right: auto;
      left: 146px;
    }
  
    .container.left .content,
    .container.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }
  }